* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    /* background-color: { add color here...}; */
}

.main-heading {
    /* color:  { add color here... }*/
}

.image-container {
  width: 300px;  
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.homepage-link {
    text-decoration: none;
    /* color: { add color here... }; */
}
.homepage-link:hover {
    text-decoration: underline;
} 

.homepage image {
    width: 50px;
    height: 50px;
}