* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    color: rgb(157, 161, 157);
    background-color: rgb(73, 8, 8);
    font-family: comic;
}

.main-heading {
   color:rgb(157, 161, 157);
   font-size: 30px;
    text-align: center;
}

.image-container {
  width: 300px;  
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.homepage-link {
    text-decoration: none;
    color: rgb(181, 201, 189);
}
.homepage-link:hover {
    text-decoration: underline;
    color: rgb(114, 15, 15);
} 

.homepage-link:active {
    color: rgb(178, 197, 178);
}

.homepage-link:visited {
    color: rgb(140, 161, 148);
}

.homepage-image {
   max-width: 100%;
   height: auto;
}