<%- include('../partials/header') %>

    <main class="main" id="main">
        <div class="container">
            <h1 class="main-heading">Tis the Season to watch Xmas movies and shows</h1>
            <img class="homepage-image" src="/images/xmas_homepage.jpg" alt="xmas Movies and Shows">
        </div>
    </main>

<%- include('../partials/footer') %>