<%- include('../partials/header') %>

<main class="main homepage" id="main">
  <div class="frame">
    <img class="homepage-image" src="/images/xmas_homepage.jpg" alt="xmas Movies and Shows">
  </div>
</main>

<%- include('../partials/footer') %>
